Flask>=2.3
uvicorn[standard]>=0.23
SQLAlchemy>=2.0
asyncpg
Flask-JWT-Extended>=4.5
Flask-Migrate
Flask-SQLAlchemy
Flask-Marshmallow
marshmallow
marshmallow-sqlalchemy
PyJWT>=2.4
alembic
pytest
pytest-asyncio
pytest-cov
httpx
flasgger
requests
psycopg2-binary
pre-commit
flask[async]
flask-cors
langchain_community